.task-item {
    border: 1px solid black;
    width: 320px;
    padding: 24px;
    border-radius: 12px;
    background-color: rgba(199, 222, 203, 0.45);
    margin: 10px 12px;
}

.task-item-key {
    font-weight: 600;
    margin: 12px 0;
}

.flexbox {
    display: flex;
    justify-content: space-cd;
    flex-wrap: wrap;
    flex-direction: row;
}